* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

// Home screen
.container-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;

  background: url(../../assets/BackgroundsImages/home.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.description {
  display: flex;
  font-size: 60px;
  font-weight: 700;
  margin-top: 300px;
  color: #05053d;
  width: 350px;
  line-height: 60px;
}

.input-home {
  margin: 20px 0 0 200px;
  width: 350px;
  height: 40px;
  padding-left: 10px;
  border: 3px solid #808080;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}

.input-home::placeholder {
  opacity: 0.8;
}

.button-home {
  width: 43px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #9acd32;
  color: #ffffff;
  margin-left: 15px;
  cursor: pointer;
}

.button-home:hover {
  opacity: 0.8;
}

.button-home:active {
  opacity: 0.5;
}

// Screen Best Recipes
.container-best {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title-best {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #05053d;
  font-size: 40px;
  font-weight: 900;
}

.paragraph-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: #808080;
}

.paragraph-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #808080;
  margin-bottom: 30px;
}

.card-food {
  display: flex;
  flex-direction: row;
  gap:350px;
  margin-left: 200px;
  margin-bottom: 20px;
}