.container-card-blog {
  display: flex;
  flex-direction: column;

  img {
    width: 400px;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
    img {
      width: 50px;
      margin-right: 10px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  .description-card-blog {
    line-height: normal;
    font-size: 25px;
    margin: 0;
    width: 400px;
    color: #0b0b74;
    font-weight: 700;
    margin-top: 10px;
  }

  button {
    width: 150px;
    height: 30px;
    font-size: 17px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #9acd32;
    margin-top: 5px;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.8;
  }
}

@media (max-width: 640px) {
  .container-card-blog {
    display: flex;
    flex-direction: row;
    width: 80%;

    img {
      width: 150px;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      margin-left: 20px;
    }

    .description-blog {
      line-height: normal;
      font-size: 20px;
      margin: 0;
      width: 90%;
    }

    button {
      width: 100px;
      height: 30px;
      font-size: 15px;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      background-color: #9acd32;
      margin-top: 5px;
    }
  }
}
