.container-card-blog {
  display: flex;
  flex-direction: column;

  img {
    width: 400px;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-top: 10px;

    img {
      width: 50px;
      margin-right: 10px;
    }

    div {
      color: #808080;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
  }

  .description-card-blog {
    line-height: normal;
    font-size: 25px;
    margin: 0;
    width: 400px;
    color: #0b0b74;
    font-weight: 700;
    margin-top: 10px;
  }
}

.container-card-blog:hover {
  opacity: 0.8;
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 640px) {
  .container-card-blog {
    img {
      width: 250px;
    }

    .description-card-blog {
      font-size: 20px;
      width: 250px;
    }
  }
}
